@(user: User, myForm: Form[ClientCert])

@main("Authorize Client Certificate") {

    @helper.form(action = routes.Application.cert, 'id -> "myForm") {
    @helper.inputText(field = myForm("name"), args = 'size -> 64, 'placeholder -> "name of client")
    @helper.inputText(field = myForm("description"), args = 'size -> 64, 'placeholder -> "brief description")
    @helper.textarea(field = myForm("pem"), args = 'rows -> 16, 'cols -> 64)
    <input type="submit" name="submit" value="submit">
    }

}