@(user: User, myForm: Form[CalEvent])

@main("User Profile") {

    <p>Username = @user.uid</p>

    @helper.form(action = routes.Application.ical, 'id -> "myForm") {
        @helper.inputText(myForm("start"))
        @helper.inputText(myForm("startHour"))
        @helper.inputText(myForm("startMin"))
        @helper.inputText(myForm("duration"))
        @helper.inputText(myForm("summary"))
        @helper.inputText(myForm("location"))
        @helper.inputText(myForm("description"))
        @helper.inputText(myForm("organizerName"))
        @helper.inputText(myForm("organizerEmail"))
        <input type="submit" name="submit" value="submit">
    }

}